/* .professional-section-box-three{
    margin-left: -20px;

} */

.professional-section-wrap-one{
    border: 1px;
    background-color: #FFFFFF;
    /* background-color: antiquewhite; */
    width: 400px;
    height: 400px;
    border-color: #005AE2;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    color: #141414;
}
.basic{
    margin-top: 30px;
    font-size: 18px;
}
.free{
    margin-top: 30px;
    margin-bottom: 20px;
}

.check-circle{
    display: flex;
}
.check-circle-text{
    margin-left: 10px;
    margin-bottom: 29px;

}